td {
    width: 30px;
    height: 30px;
}

.tetris {
    display: inline-block;
    float: left;
}

.points {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    border: 4px solid green;
    margin-left: 20px;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: blue;
}

.colorZero {
    background-color: green;
} 

.colorOne {
    background-color: purple;
}

.colorTwo {
    background-color: red;
}

.colorThree {
    background-color: yellow;
}

.colorFour {
    background-color: aqua;
}

.colorFive {
    background-color: blue;
}