td {
    width: 30px;
    height: 30px;
}

.colorZero {
    background-color: green;
} 

.colorOne {
    background-color: purple;
}

.colorTwo {
    background-color: red;
}

.colorThree {
    background-color: yellow;
}

.colorFour {
    background-color: aqua;
}

.colorFive {
    background-color: blue;
}



